{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <center>
            <h1 style="color: ff8248;"> ~~~WELCOME TO CONTACT US~~~</h1>
            <br>
        </center>
        <div>
            <div>
                <h3 style="font: ff8248;">CALL US</h3>
                <H1>1800-1800-1800</H1>
            </div>
            <div>
                <h3>E-MAIL</h3>
                <H1>support@carselling.com</H1>
            </div>
        </div>
        <br><br><br><br><br>
        
        
        Registered and Corporate Address: <br>
        Car Selling,
        10th Floor, IT Park,
        vanandji Marg, Sector 46,
        Navi Mumbai,
        Maharashtra 400705,
        India.
        Phone : 1800-1800-1800

<br>
        <br>
        India's #1
        Largest Auto portal
        <br>
        Car Sold
        Every 4 minute
        <br>
        Offers
        Stay updated pay less
        <br>
        Compare
        Decode the right car

    </div>
{% endblock %}